#login-icon {
	color:#ffffff;	
}


input[type=text], 
input[type=password], 
input[type=email], 
input[type=url], 
input[type=date], 
input[type=tel], 
input[type=number], 
input[type=search], 
textarea.materialize-textarea {
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input[type=text].invalid, 
input[type=password].invalid, 
input[type=email].invalid, 
input[type=url].invalid, 
input[type=time].invalid, 
input[type=date].invalid, i
nput[type=datetime-local].
invalid, input[type=tel].invalid, 
input[type=number].invalid, 
input[type=search].invalid, 
textarea.materialize-textarea.invalid, 
input[type=text].valid, 
input[type=password].valid, 
input[type=email].valid, 
input[type=url].valid, 
input[type=time].valid, 
input[type=date].valid, 
input[type=datetime-local].valid, 
input[type=tel].valid, 
input[type=number].valid, 
input[type=search].valid, 
textarea.materialize-textarea.valid, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=url]:focus, 
input[type=date]:focus, 
input[type=tel]:focus, 
input[type=number]:focus, 
input[type=search]:focus, 
textarea:focus.materialize-textarea {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;  
}

/* label color */
.input-field label {
	color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #fff;
}

/* label focus color */
.input-field input[type=password]:focus + label {
	color: #fff;
}
/* label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=password].valid {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.input-field input[type=password].invalid {
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #fff;
}
